<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jakubw.pracainz.goalsexecutor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SomedayFragment"></activity>
        <activity android:name=".NewGroupTaskActivity" />
        <activity android:name=".GroupsFragment" />
        <activity android:name=".BoxFragment" />
        <activity android:name=".ProjectsFragment" />
        <activity android:name=".LabelActivity" />
        <activity android:name=".EditCalendarEventActivity" />
        <activity android:name=".NewCalendarEventActivity" />
        <activity android:name=".CalendarFragment" /> <!-- <activity android:name=".SignInActivity"></activity> -->
        <activity android:name=".EditNextActionActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewNextActionActivity" />
        <activity android:name=".NextActionFragment" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".EventReminderBroadcast" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>